.appointment-bg{
    background-position: center center;
    width: 100% !important;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 300px;
    background-blend-mode: darken;
}

.doctor-png {
    margin-top: -200px;
}



